In [1]:
import math 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import gridspec
from sklearn import preprocessing
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [1]:
%run GetData.ipynb

   X0 X1  X2 X3 X4 X5 X6 X8  X10  X11  ...  X375  X376  X377  X378  X379  \
0   k  v  at  a  d  u  j  o    0    0  ...     0     0     1     0     0
1   k  t  av  e  d  y  l  o    0    0  ...     1     0     0     0     0
2  az  w   n  c  d  x  j  x    0    0  ...     0     0     0     0     0
3  az  t   n  f  d  x  l  e    0    0  ...     0     0     0     0     0
4  az  v   n  f  d  h  d  n    0    0  ...     0     0     0     0     0

   X380  X382  X383  X384  X385
0     0     0     0     0     0
1     0     0     0     0     0
2     0     1     0     0     0
3     0     0     0     0     0
4     0     0     0     0     0

[5 rows x 376 columns]
Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10', 'X11',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=376)
**********
0th column: X0
z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
i      18
am     18
aq     18
u      17
aw     16
l      16
ad     14
au     11
b      11
k      11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
ab      1
ac      1
g       1
Name: X0, dtype: int64
**********
1th column: X1
aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
f      23
y      23
j      22
n      19
k      17
p       9
g       6
q       3
d       3
ab      3
Name: X1, dtype: int64
**********
2th column: X2
as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
d       18
ac      13
g       12
y       11
ap      11
x       10
aw       8
at       6
h        6
al       5
an       5
q        5
av       4
ah       4
p        4
au       3
am       1
j        1
aa       1
o        1
l        1
c        1
ar       1
af       1
Name: X2, dtype: int64
**********
3th column: X3
c    1942
f    1076
a     440
d     290
g     241
e     163
b      57
Name: X3, dtype: int64
**********
4th column: X4
d    4205
a       2
c       1
b       1
Name: X4, dtype: int64
**********
5th column: X5
v     231
w     231
q     220
r     215
s     214
d     214
n     212
p     208
m     208
i     207
ae    205
ag    204
ac    200
ab    197
l     195
af    188
ad    185
k     177
c     131
j     125
aa    112
ah     97
o      20
f       7
x       2
u       1
y       1
h       1
g       1
Name: X5, dtype: int64
**********
6th column: X6
g    1042
j    1039
d     625
i     488
l     478
a     206
h     190
k      43
c      38
b      28
f      20
e      12
Name: X6, dtype: int64
**********
7th column: X8
j    277
s    255
f    243
n    242
i    237
e    225
r    219
a    210
w    196
v    194
b    190
k    176
o    163
m    155
g    130
u    119
t    119
q    117
h    117
y    116
x    105
d    103
l    101
c    100
p    100
Name: X8, dtype: int64
**********
8th column: X10
0    4153
1      56
Name: X10, dtype: int64
**********
9th column: X11
0    4209
Name: X11, dtype: int64
**********
10th column: X12
0    3893
1     316
Name: X12, dtype: int64
**********
11th column: X13
0    3965
1     244
Name: X13, dtype: int64
**********
12th column: X14
0    2407
1    1802
Name: X14, dtype: int64
**********
13th column: X15
0    4207
1       2
Name: X15, dtype: int64
**********
14th column: X16
0    4198
1      11
Name: X16, dtype: int64
**********
15th column: X17
0    4177
1      32
Name: X17, dtype: int64
**********
16th column: X18
0    4176
1      33
Name: X18, dtype: int64
**********
17th column: X19
0    3790
1     419
Name: X19, dtype: int64
**********
18th column: X20
0    3608
1     601
Name: X20, dtype: int64
**********
19th column: X21
0    4198
1      11
Name: X21, dtype: int64
**********
20th column: X22
0    3843
1     366
Name: X22, dtype: int64
**********
21th column: X23
0    4122
1      87
Name: X23, dtype: int64
**********
22th column: X24
0    4201
1       8
Name: X24, dtype: int64
**********
23th column: X26
0    4188
1      21
Name: X26, dtype: int64
**********
24th column: X27
1    2873
0    1336
Name: X27, dtype: int64
**********
25th column: X28
0    4072
1     137
Name: X28, dtype: int64
**********
26th column: X29
0    4028
1     181
Name: X29, dtype: int64
**********
27th column: X30
0    4190
1      19
Name: X30, dtype: int64
**********
28th column: X31
0    3231
1     978
Name: X31, dtype: int64
**********
29th column: X32
0    4162
1      47
Name: X32, dtype: int64
**********
30th column: X33
0    4208
1       1
Name: X33, dtype: int64
**********
31th column: X34
0    4186
1      23
Name: X34, dtype: int64
**********
32th column: X35
0    3231
1     978
Name: X35, dtype: int64
**********
33th column: X36
0    4190
1      19
Name: X36, dtype: int64
**********
34th column: X37
0    3231
1     978
Name: X37, dtype: int64
**********
35th column: X38
0    4069
1     140
Name: X38, dtype: int64
**********
36th column: X39
0    4208
1       1
Name: X39, dtype: int64
**********
37th column: X40
0    4206
1       3
Name: X40, dtype: int64
**********
38th column: X41
0    4161
1      48
Name: X41, dtype: int64
**********
39th column: X42
0    4208
1       1
Name: X42, dtype: int64
**********
40th column: X43
0    3905
1     304
Name: X43, dtype: int64
**********
41th column: X44
0    4161
1      48
Name: X44, dtype: int64
**********
42th column: X45
0    3143
1    1066
Name: X45, dtype: int64
**********
43th column: X46
1    2514
0    1695
Name: X46, dtype: int64
**********
44th column: X47
0    4155
1      54
Name: X47, dtype: int64
**********
45th column: X48
0    4115
1      94
Name: X48, dtype: int64
**********
46th column: X49
0    3695
1     514
Name: X49, dtype: int64
**********
47th column: X50
0    3308
1     901
Name: X50, dtype: int64
**********
48th column: X51
1    3038
0    1171
Name: X51, dtype: int64
**********
49th column: X52
0    4031
1     178
Name: X52, dtype: int64
**********
50th column: X53
0    4180
1      29
Name: X53, dtype: int64
**********
51th column: X54
0    4026
1     183
Name: X54, dtype: int64
**********
52th column: X55
0    4187
1      22
Name: X55, dtype: int64
**********
53th column: X56
0    4120
1      89
Name: X56, dtype: int64
**********
54th column: X57
0    4153
1      56
Name: X57, dtype: int64
**********
55th column: X58
1    2420
0    1789
Name: X58, dtype: int64
**********
56th column: X59
0    4206
1       3
Name: X59, dtype: int64
**********
57th column: X60
0    4203
1       6
Name: X60, dtype: int64
**********
58th column: X61
1    4015
0     194
Name: X61, dtype: int64
**********
59th column: X62
0    4184
1      25
Name: X62, dtype: int64
**********
60th column: X63
0    4161
1      48
Name: X63, dtype: int64
**********
61th column: X64
0    2630
1    1579
Name: X64, dtype: int64
**********
62th column: X65
0    4200
1       9
Name: X65, dtype: int64
**********
63th column: X66
0    4095
1     114
Name: X66, dtype: int64
**********
64th column: X67
0    4201
1       8
Name: X67, dtype: int64
**********
65th column: X68
0    3900
1     309
Name: X68, dtype: int64
**********
66th column: X69
0    4083
1     126
Name: X69, dtype: int64
**********
67th column: X70
1    3872
0     337
Name: X70, dtype: int64
**********
68th column: X71
0    3773
1     436
Name: X71, dtype: int64
**********
69th column: X73
0    4125
1      84
Name: X73, dtype: int64
**********
70th column: X74
1    4206
0       3
Name: X74, dtype: int64
**********
71th column: X75
0    4057
1     152
Name: X75, dtype: int64
**********
72th column: X76
0    4026
1     183
Name: X76, dtype: int64
**********
73th column: X77
0    4156
1      53
Name: X77, dtype: int64
**********
74th column: X78
0    4185
1      24
Name: X78, dtype: int64
**********
75th column: X79
0    4103
1     106
Name: X79, dtype: int64
**********
76th column: X80
1    3986
0     223
Name: X80, dtype: int64
**********
77th column: X81
0    3245
1     964
Name: X81, dtype: int64
**********
78th column: X82
0    4137
1      72
Name: X82, dtype: int64
**********
79th column: X83
0    4204
1       5
Name: X83, dtype: int64
**********
80th column: X84
0    3773
1     436
Name: X84, dtype: int64
**********
81th column: X85
0    2491
1    1718
Name: X85, dtype: int64
**********
82th column: X86
0    4203
1       6
Name: X86, dtype: int64
**********
83th column: X87
0    4205
1       4
Name: X87, dtype: int64
**********
84th column: X88
0    4179
1      30
Name: X88, dtype: int64
**********
85th column: X89
0    4206
1       3
Name: X89, dtype: int64
**********
86th column: X90
0    4178
1      31
Name: X90, dtype: int64
**********
87th column: X91
0    4202
1       7
Name: X91, dtype: int64
**********
88th column: X92
0    4205
1       4
Name: X92, dtype: int64
**********
89th column: X93
0    4209
Name: X93, dtype: int64
**********
90th column: X94
0    4178
1      31
Name: X94, dtype: int64
**********
91th column: X95
0    4208
1       1
Name: X95, dtype: int64
**********
92th column: X96
1    3191
0    1018
Name: X96, dtype: int64
**********
93th column: X97
0    4191
1      18
Name: X97, dtype: int64
**********
94th column: X98
1    3967
0     242
Name: X98, dtype: int64
**********
95th column: X99
0    4173
1      36
Name: X99, dtype: int64
**********
96th column: X100
1    2905
0    1304
Name: X100, dtype: int64
**********
97th column: X101
1    3938
0     271
Name: X101, dtype: int64
**********
98th column: X102
0    4180
1      29
Name: X102, dtype: int64
**********
99th column: X103
1    3302
0     907
Name: X103, dtype: int64
**********
100th column: X104
0    4201
1       8
Name: X104, dtype: int64
**********
101th column: X105
0    4199
1      10
Name: X105, dtype: int64
**********
102th column: X106
0    4154
1      55
Name: X106, dtype: int64
**********
103th column: X107
0    4209
Name: X107, dtype: int64
**********
104th column: X108
0    4147
1      62
Name: X108, dtype: int64
**********
105th column: X109
0    4039
1     170
Name: X109, dtype: int64
**********
106th column: X110
0    4205
1       4
Name: X110, dtype: int64
**********
107th column: X111
1    4103
0     106
Name: X111, dtype: int64
**********
108th column: X112
0    4197
1      12
Name: X112, dtype: int64
**********
109th column: X113
0    4115
1      94
Name: X113, dtype: int64
**********
110th column: X114
0    3594
1     615
Name: X114, dtype: int64
**********
111th column: X115
0    3007
1    1202
Name: X115, dtype: int64
**********
112th column: X116
0    3381
1     828
Name: X116, dtype: int64
**********
113th column: X117
0    4002
1     207
Name: X117, dtype: int64
**********
114th column: X118
1    2619
0    1590
Name: X118, dtype: int64
**********
115th column: X119
1    2619
0    1590
Name: X119, dtype: int64
**********
116th column: X120
1    4031
0     178
Name: X120, dtype: int64
**********
117th column: X122
0    4179
1      30
Name: X122, dtype: int64
**********
118th column: X123
0    4198
1      11
Name: X123, dtype: int64
**********
119th column: X124
0    4207
1       2
Name: X124, dtype: int64
**********
120th column: X125
0    4196
1      13
Name: X125, dtype: int64
**********
121th column: X126
0    4045
1     164
Name: X126, dtype: int64
**********
122th column: X127
0    2125
1    2084
Name: X127, dtype: int64
**********
123th column: X128
1    4034
0     175
Name: X128, dtype: int64
**********
124th column: X129
0    3693
1     516
Name: X129, dtype: int64
**********
125th column: X130
0    4034
1     175
Name: X130, dtype: int64
**********
126th column: X131
0    4097
1     112
Name: X131, dtype: int64
**********
127th column: X132
1    2898
0    1311
Name: X132, dtype: int64
**********
128th column: X133
0    3686
1     523
Name: X133, dtype: int64
**********
129th column: X134
0    4115
1      94
Name: X134, dtype: int64
**********
130th column: X135
0    4095
1     114
Name: X135, dtype: int64
**********
131th column: X136
1    4026
0     183
Name: X136, dtype: int64
**********
132th column: X137
1    2449
0    1760
Name: X137, dtype: int64
**********
133th column: X138
0    4037
1     172
Name: X138, dtype: int64
**********
134th column: X139
0    3828
1     381
Name: X139, dtype: int64
**********
135th column: X140
0    4039
1     170
Name: X140, dtype: int64
**********
136th column: X141
0    4149
1      60
Name: X141, dtype: int64
**********
137th column: X142
1    3242
0     967
Name: X142, dtype: int64
**********
138th column: X143
0    4048
1     161
Name: X143, dtype: int64
**********
139th column: X144
1    3401
0     808
Name: X144, dtype: int64
**********
140th column: X145
0    4203
1       6
Name: X145, dtype: int64
**********
141th column: X146
0    4037
1     172
Name: X146, dtype: int64
**********
142th column: X147
0    4115
1      94
Name: X147, dtype: int64
**********
143th column: X148
0    4020
1     189
Name: X148, dtype: int64
**********
144th column: X150
1    3335
0     874
Name: X150, dtype: int64
**********
145th column: X151
0    3849
1     360
Name: X151, dtype: int64
**********
146th column: X152
0    4073
1     136
Name: X152, dtype: int64
**********
147th column: X153
0    4206
1       3
Name: X153, dtype: int64
**********
148th column: X154
0    3330
1     879
Name: X154, dtype: int64
**********
149th column: X155
0    3887
1     322
Name: X155, dtype: int64
**********
150th column: X156
1    3019
0    1190
Name: X156, dtype: int64
**********
151th column: X157
0    3019
1    1190
Name: X157, dtype: int64
**********
152th column: X158
0    3242
1     967
Name: X158, dtype: int64
**********
153th column: X159
0    4152
1      57
Name: X159, dtype: int64
**********
154th column: X160
0    4204
1       5
Name: X160, dtype: int64
**********
155th column: X161
0    3377
1     832
Name: X161, dtype: int64
**********
156th column: X162
0    4037
1     172
Name: X162, dtype: int64
**********
157th column: X163
0    2932
1    1277
Name: X163, dtype: int64
**********
158th column: X164
0    3946
1     263
Name: X164, dtype: int64
**********
159th column: X165
0    4190
1      19
Name: X165, dtype: int64
**********
160th column: X166
0    4069
1     140
Name: X166, dtype: int64
**********
161th column: X167
0    4205
1       4
Name: X167, dtype: int64
**********
162th column: X168
0    3069
1    1140
Name: X168, dtype: int64
**********
163th column: X169
0    4181
1      28
Name: X169, dtype: int64
**********
164th column: X170
0    4107
1     102
Name: X170, dtype: int64
**********
165th column: X171
1    2767
0    1442
Name: X171, dtype: int64
**********
166th column: X172
0    4184
1      25
Name: X172, dtype: int64
**********
167th column: X173
0    4168
1      41
Name: X173, dtype: int64
**********
168th column: X174
0    4136
1      73
Name: X174, dtype: int64
**********
169th column: X175
0    4115
1      94
Name: X175, dtype: int64
**********
170th column: X176
0    4137
1      72
Name: X176, dtype: int64
**********
171th column: X177
0    3998
1     211
Name: X177, dtype: int64
**********
172th column: X178
1    2346
0    1863
Name: X178, dtype: int64
**********
173th column: X179
0    4007
1     202
Name: X179, dtype: int64
**********
174th column: X180
0    3544
1     665
Name: X180, dtype: int64
**********
175th column: X181
0    3814
1     395
Name: X181, dtype: int64
**********
176th column: X182
0    3762
1     447
Name: X182, dtype: int64
**********
177th column: X183
0    4192
1      17
Name: X183, dtype: int64
**********
178th column: X184
0    4203
1       6
Name: X184, dtype: int64
**********
179th column: X185
0    4130
1      79
Name: X185, dtype: int64
**********
180th column: X186
1    2256
0    1953
Name: X186, dtype: int64
**********
181th column: X187
0    2439
1    1770
Name: X187, dtype: int64
**********
182th column: X189
1    3853
0     356
Name: X189, dtype: int64
**********
183th column: X190
0    4208
1       1
Name: X190, dtype: int64
**********
184th column: X191
0    2227
1    1982
Name: X191, dtype: int64
**********
185th column: X192
0    4199
1      10
Name: X192, dtype: int64
**********
186th column: X194
0    2256
1    1953
Name: X194, dtype: int64
**********
187th column: X195
0    4160
1      49
Name: X195, dtype: int64
**********
188th column: X196
0    4166
1      43
Name: X196, dtype: int64
**********
189th column: X197
0    4073
1     136
Name: X197, dtype: int64
**********
190th column: X198
0    4112
1      97
Name: X198, dtype: int64
**********
191th column: X199
0    4197
1      12
Name: X199, dtype: int64
**********
192th column: X200
0    4181
1      28
Name: X200, dtype: int64
**********
193th column: X201
0    3461
1     748
Name: X201, dtype: int64
**********
194th column: X202
0    3193
1    1016
Name: X202, dtype: int64
**********
195th column: X203
0    4138
1      71
Name: X203, dtype: int64
**********
196th column: X204
0    4208
1       1
Name: X204, dtype: int64
**********
197th column: X205
1    4208
0       1
Name: X205, dtype: int64
**********
198th column: X206
0    4128
1      81
Name: X206, dtype: int64
**********
199th column: X207
0    4208
1       1
Name: X207, dtype: int64
**********
200th column: X208
0    3944
1     265
Name: X208, dtype: int64
**********
201th column: X209
1    3782
0     427
Name: X209, dtype: int64
**********
202th column: X210
0    4208
1       1
Name: X210, dtype: int64
**********
203th column: X211
0    4146
1      63
Name: X211, dtype: int64
**********
204th column: X212
0    4186
1      23
Name: X212, dtype: int64
**********
205th column: X213
0    4201
1       8
Name: X213, dtype: int64
**********
206th column: X214
0    4180
1      29
Name: X214, dtype: int64
**********
207th column: X215
0    3794
1     415
Name: X215, dtype: int64
**********
208th column: X216
0    4184
1      25
Name: X216, dtype: int64
**********
209th column: X217
0    4178
1      31
Name: X217, dtype: int64
**********
210th column: X218
0    2894
1    1315
Name: X218, dtype: int64
**********
211th column: X219
0    3925
1     284
Name: X219, dtype: int64
**********
212th column: X220
1    2362
0    1847
Name: X220, dtype: int64
**********
213th column: X221
0    4175
1      34
Name: X221, dtype: int64
**********
214th column: X222
0    4115
1      94
Name: X222, dtype: int64
**********
215th column: X223
1    2337
0    1872
Name: X223, dtype: int64
**********
216th column: X224
0    2873
1    1336
Name: X224, dtype: int64
**********
217th column: X225
0    3801
1     408
Name: X225, dtype: int64
**********
218th column: X226
0    4073
1     136
Name: X226, dtype: int64
**********
219th column: X227
0    4196
1      13
Name: X227, dtype: int64
**********
220th column: X228
0    4045
1     164
Name: X228, dtype: int64
**********
221th column: X229
1    4041
0     168
Name: X229, dtype: int64
**********
222th column: X230
0    4187
1      22
Name: X230, dtype: int64
**********
223th column: X231
0    4141
1      68
Name: X231, dtype: int64
**********
224th column: X232
0    4028
1     181
Name: X232, dtype: int64
**********
225th column: X233
0    4209
Name: X233, dtype: int64
**********
226th column: X234
0    3360
1     849
Name: X234, dtype: int64
**********
227th column: X235
0    4209
Name: X235, dtype: int64
**********
228th column: X236
0    4207
1       2
Name: X236, dtype: int64
**********
229th column: X237
0    4181
1      28
Name: X237, dtype: int64
**********
230th column: X238
1    3856
0     353
Name: X238, dtype: int64
**********
231th column: X239
0    4180
1      29
Name: X239, dtype: int64
**********
232th column: X240
0    4197
1      12
Name: X240, dtype: int64
**********
233th column: X241
0    3800
1     409
Name: X241, dtype: int64
**********
234th column: X242
0    4178
1      31
Name: X242, dtype: int64
**********
235th column: X243
0    4179
1      30

In [2]:
assert X.shape[0]== y.shape[0] # number of rows should be equal

In [3]:
print(X.shape)
print(y.shape)

(4209, 555)
(4209,)

In [4]:
%run GetReducedTestData.ipynb

   X0  X1  X2 X3 X4  X5 X6 X8  X10  X11  ...  X375  X376  X377  X378  X379  \
0   t   b  ae  c  d  ah  d  u    0    0  ...     0     0     1     0     0
1   y  aa  ay  c  d  af  l  p    1    0  ...     1     0     0     0     0
2  at   q  aq  c  d   c  d  s    0    0  ...     0     0     1     0     0
3   y   r  ak  f  d   v  i  b    0    0  ...     0     0     0     0     0
4   z   z  ai  c  d   s  d  j    0    0  ...     1     0     0     0     0

   X380  X382  X383  X384  X385
0     0     0     0     0     0
1     0     0     0     0     0
2     0     0     0     0     0
3     0     0     0     0     0
4     0     0     0     0     0

[5 rows x 376 columns]
Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10', 'X11',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=376)
Index(['X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=368)
Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')
   X0  X1  X2 X3 X4  X5 X6 X8
0   t   b  ae  c  d  ah  d  u
1   y  aa  ay  c  d  af  l  p
2  at   q  aq  c  d   c  d  s
3   y   r  ak  f  d   v  i  b
4   z   z  ai  c  d   s  d  j
   X10  X11  X12  X13  X14  X15  X16  X17  X18  X19  ...  X8_p  X8_q  X8_r  \
0    0    0    0    0    0    0    0    0    0    0  ...     0     0     0
1    1    0    0    0    0    0    0    0    0    0  ...     1     0     0
2    0    0    0    0    1    0    0    0    0    0  ...     0     0     0
3    0    0    1    0    0    0    0    0    0    0  ...     0     0     0
4    0    0    0    0    0    0    0    0    0    1  ...     0     0     0

   X8_s  X8_t  X8_u  X8_v  X8_w  X8_x  X8_y
0     0     0     1     0     0     0     0
1     0     0     0     0     0     0     0
2     1     0     0     0     0     0     0
3     0     0     0     0     0     0     0
4     0     0     0     0     0     0     0

[5 rows x 509 columns]

In [5]:
print(X_test.shape)

(200, 509)

# Two reasons to manipulate X_test:
- Test data contains more levels for some categorical columns, which results in more binary categorical columns
- If you have applied dimentionality reduction on your train data then, the column counts do not match.

In [6]:
for col in X_test.columns:
    if col not in X.columns:
        X_test.drop(col, axis=1, inplace=True)

print(X_test.shape)
print(X.shape)

(200, 509)
(4209, 555)

In [17]:
# Now, X_test contains less columns; but we can easily fill them with 0s:
#for col in X.columns:
    #if col not in X_test.columns:
        #X_test[col]= 0
# Alternatively, we can remove the columns that are not in X_test from X!:
for col in X.columns:
    if col not in X_test.columns:
        X.drop(col, axis=1, inplace=True)

print(X.shape)
print(y.shape)
print(X_test.shape)
print(y_test.shape)

(4209, 509)
(4209,)
(200, 509)
(200,)

In [18]:
assert X_test.shape[1] == X.shape[1]

# Now, test results:

In [24]:
from sklearn import linear_model

In [25]:
regr = linear_model.LinearRegression()

In [26]:
regr.fit(X, y) # fit using your train data. 
# remember, you have decided which columns to include, which rows to include!

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [27]:
# Now, evaluate the model's performance using the test data:
# Do not include your train data!
from sklearn.metrics import mean_squared_error
print("Mean_squared_error: %.3f" % mean_squared_error(y_test, regr.predict(X_test)))

from sklearn.metrics import r2_score # R² score, the coefficient of determination
print("r2_score: %.3f" % r2_score(y_test, regr.predict(X_test)))

Mean_squared_error: 49.510
r2_score: 0.677